* {
  box-sizing: border-box;
  margin: 0;
}

.container:hover {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 300px;
  height: 300px;
  background-color: rgb(36, 250, 168);
}

.container1 {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 300px;
  height: 300px;
  background-color: rgb(115, 78, 150);
}

.circle1:hover {
  position: absolute;
  right: -75px;
  top: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(42, 30, 219);
  border-radius: 50%;
}

.circle5 {
  position: absolute;
  right: -75px;
  top: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(2, 2, 2);
  border-radius: 50%;
}

.circle2:hover {
  position: absolute;
  left: -75px;
  top: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(245, 8, 8);
  border-radius: 50%;
}

.circle6 {
  position: absolute;
  left: -75px;
  top: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(12, 12, 12);
  border-radius: 50%;
}

.circle3:hover {
  position: absolute;
  left: -75px;
  bottom: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(1, 250, 97);
  border-radius: 50%;
}

.circle7 {
  position: absolute;
  left: -75px;
  bottom: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(14, 13, 13);
  border-radius: 50%;
}

.circle4:hover {
  position: absolute;
  right: -75px;
  bottom: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(10, 190, 245);
  border-radius: 50%;
}

.circle8 {
  position: absolute;
  right: -75px;
  bottom: -75px;
  width: 150px;
  height: 150px;
  background-color: rgb(14, 12, 12);
  border-radius: 50%;
}

.rectangle:hover {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  background-color: rgb(211, 252, 27);
}

.rectangle1 {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 225, 255);
}
