* {
  box-sizing: border-box;
  margin: 0;
  /* border: 2px solid red; */
}

.wrapper {
  position: static;
  z-index: 1;
}

.container:hover {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 300px;
  height: 300px;
  background-color: rgb(36, 250, 168);
  z-index: 4;
}

.container1 {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 300px;
  height: 300px;
  background-color: rgb(115, 78, 150);
  z-index: 2;
}

.circle1:hover {
  position: absolute;
  right: 545px;
  top: 175px;
  width: 150px;
  height: 150px;
  background-color: rgb(42, 30, 219);
  border-radius: 50%;
  z-index: 3;
}

.circle5 {
  position: absolute;
  right: 545px;
  top: 175px;
  width: 150px;
  height: 150px;
  background-color: rgb(2, 2, 2);
  border-radius: 50%;
  z-index: 1;
}

.circle2:hover {
  position: absolute;
  left: 525px;
  top: 175px;
  width: 150px;
  height: 150px;
  background-color: rgb(245, 8, 8);
  border-radius: 50%;
  z-index: 3;
}

.circle6 {
  position: absolute;
  left: 525px;
  top: 175px;
  width: 150px;
  height: 150px;
  background-color: rgb(12, 12, 12);
  border-radius: 50%;
  z-index: 1;
}

.circle3:hover {
  position: absolute;
  left: 525px;
  bottom: 125px;
  width: 150px;
  height: 150px;
  background-color: rgb(1, 250, 97);
  border-radius: 50%;
  z-index: 3;
}

.circle7 {
  position: absolute;
  left: 525px;
  bottom: 125px;
  width: 150px;
  height: 150px;
  background-color: rgb(14, 13, 13);
  border-radius: 50%;
  z-index: 1;
}

.circle4:hover {
  position: absolute;
  right: 545px;
  bottom: 125px;
  width: 150px;
  height: 150px;
  background-color: rgb(10, 190, 245);
  border-radius: 50%;
  z-index: 3;
}

.circle8 {
  position: absolute;
  right: 545px;
  bottom: 125px;
  width: 150px;
  height: 150px;
  background-color: rgb(14, 12, 12);
  border-radius: 50%;
  z-index: 1;
}

.rectangle:hover {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgb(211, 252, 27);
  z-index: 3;
}

.rectangle1 {
  position: absolute;
  top: 325px;
  left: 675px;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 225, 255);
  z-index: 3;
}
