* {
  box-sizing: border-box;
  margin: 0;
}

.relative {
  position: relative;
  top: 250px;
  left: 600px;
  width: 300px;
  height: 300px;
  background-color: blueviolet;
  z-index: 1;
}

.absolute {
  position: absolute;
  right: -50px;
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
}
